<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Q and A</title>
</head>
<body>
    <h2>A Quizz on books</h2> 
    <p>score : {{ score }}</p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="warning">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}


        {%if scoreHandler%}
            {% for text in scoreHandler%}
                <p>{{ text }}</p>
            {% endfor %}
        {% endif %}

        {% if question %}
            <p>{{ question }}</p>
        {% endif %}

        {% if multiple_answers %}
        <ol>
            {% for multiple_answer in multiple_answers%}
            <li>{{ multiple_answer }}</li>
            {% endfor %}
        </ol>
        {% endif %}

        {% if abstract %}
        <p>{{ abstract }}</p>
        {% endif %}
            
    <form action="" method="post">

      {{ form.hidden_tag() }}
      <p>{{ form.input.label }} : {{ form.input(placeholder="The number of the answer or the answer itself") }} {{ form.submit() }} {{ form.nextQuestion.label }}{{ form.nextQuestion() }}</p>

      {% for error in form.input.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

    </form>

    <p>Enter the number of the answer or the number itself, you can skip a question by validating the radio button on the right. Please be sure to always have an answer, even if you skip. It wont be counted.</p>
    <p>You have to manually repress submit to go to the next question, make sure the text field is actually filled with something.</p>
</body>
</html>