<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Q and A</title>
</head>
<body>
    {%if scoreHandler%}
        {% for text in scoreHandler%}
            <p>{{ text }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>